<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="far fa-stream"></i>
        </label>
        <label class="cart">
            <i class="fal fa-shopping-cart"></i>
        </label>


    </nav>

</body>

<body>
    <article>
        <h1>Face Recognition Using <br> Convolution Neural Network</h1>

    </article>
    <section>
        <div class="cards">
          <a href="realtime">
            <div class="card">
                <img class="card-img" alt="random_image" src="static/css/img/cctv.png">
                <p>Realtime Recognition</p>
            </div>
            </a>
            <a href="static">
            <div class="card">
                <img class="card-img" alt="random_image" src="static/css/img/photo.png">
                <p>Static Recognition</p>
            </div>
            </a>
            <a href="view">
            <div class="card">
                <img class="card-img" alt="random_image" src="static/css/img/excel.png">
                <p>Recorded Data</p>
            </div>
            </a>
            <a href="images">
            <div class="card">
                <img class="card-img" alt="random_image" src="static/css/img/unknown.png">
                <p>Unknown Faces</p>
            </div>
            </a>
        </div>
    </section>

</body>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Tilt.js -->
<script src="{{ url_for('static', filename='css/main.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js" integrity="sha512-14AZ/DxUrlF26z6v7egDkpJHKyJRn/7ue2BgpWZ/fmqrqVzf4PrQnToy99sHmKwzKev/VZ1tjPxusuTV/n8CcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>